<h3>Setup a new game</h3>

<div class="section">
    <div class="header">Board Setup</div>

    {{dynamic-select
        description="Board Size"
        contents=boardSizeOptions
        selected=boardSize
        action=(action (mut boardSize))}}

    {{dynamic-select
        description="Board Shape"
        contents=boardShapeOptions
        selected=boardShape
        action=(action (mut boardShape))}}
</div>

<div class="section">
    <div class="header">Player Setup</div>

    {{dynamic-select
        description="Number of players"
        contents=playerCountOptions
        selected=playerCount
        action=(action (mut playerCount))}}

    {{#each players key="@index" as |player|}}
        <div>Player {{player.playerNumber}}: {{input type="text" value=player.name}}</div>
    {{/each}}
</div>

<div class="submit-button">
    <button type="button"
        {{action "createGame"}}>
        Create Game
    </button>
</div>
