<label for="{{uniqueId}}">{{description}}</label>
<select id="{{uniqueId}}">
    {{#each contents key="@index" as |item|}}
        <option value="{{item}}">
            {{item}}
        </option>
    {{/each}}
</select>
